
.noto-serif-Font{
    font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
*{
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "wdth" 100; 
}

html, body{
    margin:0px auto;
    font-size: 18px;
    box-sizing: border-box;
   
   
}


.headerimgfixed{
  width: 100%;
  background:  no-repeat;
  background-attachment: fixed;
  position: fixed;
  z-index: -10;

}
.divlandscapeimg{
  background-image: url(img\overlay.png) , url(img\landscape.jpg);
 
}

a {
  text-decoration-line:none ;
  color: white;
  font-size: 20px;
}

/*header*/
.headercontainer {
  margin-right: 50%;
  height: 600px;
  border-bottom-right-radius: 5px;
 
}


.nav {
  display:flex;
  justify-content: center;
  background-color:#353538;
  margin: 0 auto;
	padding: 4em 0em 1em 0em ;
	text-align: center;
 
}

.nav div a{
  display: block; 
  position: relative;
  color: #FFF;
  text-decoration: none;
  padding: 30px;
  text-transform:uppercase;
  transition:0.5s;
}
/*Animation de la navigation*/
.nav:hover div a{
  transform:scale(1.5);
  opacity:0.2;
  filter:blur(5px);
}
.nav div a:hover{
  transform:scale(2);
  opacity:1;
  filter:blur(0);
  text-decoration:none;
  color: #d894be;
}
.nav div a:before{
  content:'';
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:7%;
  background:#db65ae;
  box-shadow: 0px 6px 10px #4d4d4d71;
  transition:0.5s;
  transform-origin:right;
  transform:scaleX(0);
  z-index:-1;
}
.nav div a:hover:before{
  transition:transform 0.5s;
  transform-origin:left;
  transform:scaleX(1);
}
/*conteneur avec coordonnées*/
.backgroundbleu {
  background-color:#353538;
  margin-left: -10px;
  margin-right: 55%;
  height: 600px;
  border-bottom-right-radius: 5px;
}

.coordonnees {
  list-style: none;
  font-size: 25px;
  color: white;
  margin-right: 46%;
  margin-top: 235px;

}

/*Animation du formulaire*/
 .boldinfo{
  font-weight: bold;
}

.coordonnees .formulaire1 a:hover{
  font-weight: bolder;
  animation-duration: 1s;
  animation-name: slidein;
  color: #d894be;
  }
  @keyframes slidein {
    from {
      margin-right: 5%;
      width: 100%;
    }
  
    to {
      margin-right: 5%;
      width: 100%;

      
    }
  }
  .coordonnees .formulaire1 a{
    display: block;
  color: #FFF;
  text-decoration: none;
  transition:0.5s;
  z-index:-1;
  }
  .coordonnees .formulaire1 a:before{
    content:'';
    position:absolute;
    top:555px;
    width:20%;
    height:10px;
    background-color :#db65ae ;
    box-shadow: 0px 6px 10px #4d4d4d71;
    transition:0.5s;
    transform-origin:right;
    transform:scaleX(0);
    z-index:1;
  }
  .coordonnees .formulaire1 a:hover:before{
    transition:transform 0.5s;
    transform-origin:left;
    transform:scaleX(1);
  }

  /*deuxieme formulaire numero de telephone*/
  .coordonnees .formulaire2 a:hover{
    font-weight: bolder;
    animation-duration: 1s;
    animation-name: slidein;
    color: #d894be;
    }
    @keyframes slidein {
      from {
        margin-left: 5%;
        width: 100%;
      }
    
      to {
        margin-left: 0%;
        width: 100%;
      }
    }

    .coordonnees .formulaire2 a{
      display: block;
    color: #FFF;
    text-decoration: none;
    transition:0.5s;
    z-index:-1;
    }
    .coordonnees .formulaire2 a:before{
      content:'';
      position:absolute;
      top: 640px;
      width:20%;
      height:10px;
      background-color :#db65ae ;
      box-shadow: 0px 6px 10px #4d4d4d71;
      transition:0.5s;
      transform-origin:right;
      transform:scaleX(0);
      z-index:1;
    }
    .coordonnees .formulaire2 a:hover:before{
      transition:transform 0.5s;
      transform-origin:left;
      transform:scaleX(1);
    }
  
.coordonnees ul{
 display: flex;
 flex-direction: row;
 list-style: none;
 padding: 0;
 
}


/*Le formulaire de contact*/

.coordonnees, .formulaire1, .formulaire2, .formulaire3{
 padding: 20px 0px 0px 30px ;
}

/*Les icons avec animations*/
.coordonnees ul li img {
  transition: all 0.3s;
  
}
.coordonnees ul li img:hover{
transform: scale(2.0) rotate(5deg);
}

.icon1{
width: 35px;
padding: 0 20px 0 0;
}

.icon2{
  width: 35px;
}


/*Les regroupement des deux photo avec absolute*/


.headerrow {
  display: flex;
  margin-top: -565px;
}

.flowers .lea {
  margin-top: -4px;
    margin-left: 30%;
    position: absolute;
    height: 60%;
}
  



h1{
  font-size: 4em;
  color: #ffffff	;
  margin-bottom: 30px;
}

h2{
  margin-top: 0px;
  margin-bottom: 20px;
  color: #ddf5f4;
    font-size: 35px;
    font-weight: 500;
    letter-spacing: 20px;
}

.description p{
  color: #ffffff;
  font-weight: bold;
}
.bordureuiux{
  
  border-top-left-radius: 2.5rem;
  border-bottom-right-radius: 2.5rem;
  text-transform: uppercase;
  background-color:#a7eded9f;
  color: #ffffff;
  font-weight: bold;
  font-size: 20px; 
  width: 50%;
  padding: 10px 0px 10px 20px;
}

.boxbuttoncv{
display: flex;
grid-column-gap: 1rem;
margin-top: 50px;



}

.boxbuttoncv div a{
color: rgb(0, 0, 0);

}

.curriculumvitae{

 box-shadow: 0 0 0 3px #a7d9ed;
 border-radius:40px ;
 background-color:#ffffff00;
 overflow: hidden;
 padding: 15px;
}

.buttonpotfolio{
  overflow: hidden;
  border-radius:40px ;
  background: rgb(167,217,237);
  background: linear-gradient(29deg, rgba(167,217,237,1) 9%, rgba(157,157,190,1) 89%);
  padding: 15px;
  

}
/*Animation buttonportfolio*/

.animationdivbutton{
  transform: translate(0%, -25%);

}
a span{
  position: relative;
  z-index: 2;
}
.buttonpotfolio{
  display: block;
  width: 150px;
  height: 40px;
  line-height: 40px;
  letter-spacing: 2px;
  text-align: center;
  position: relative;
  transition: all .35s;
}

.buttonpotfolio:after{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: rgb(221,160,221);
  background: linear-gradient(152deg, rgba(221,160,221,1) 9%, rgba(214,30,98,1) 100%);
  transition: all .35s;
}

.buttonpotfolio:hover{
  color: #fff;
  
}

.buttonpotfolio:hover:after{
  width: 100%;
}

/*Animation curriculumvitae*/

.animationdivcurriculum{
  transform: translate(0%, -25%);

}

 .curriculumvitae span{
  position: relative;
  z-index: 2;
}

.curriculumvitae{
  display: block;
  width: 150px;
  height: 40px;
  line-height: 40px;
  letter-spacing: 2px;
  text-align: center;
  position: relative;
  transition: all .35s;
}

.curriculumvitae:after{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: rgb(221,160,221);
  background: linear-gradient(152deg, rgba(221,160,221,1) 9%, rgba(214,30,98,1) 100%);
  transition: all .35s;
}

.curriculumvitae:hover{
  color: #fff;
}

.curriculumvitae:hover:after{
  width: 100%;
}

/*Fin du header */

/*Le main */
.intro{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 400px 0px 400px 0px;
  background-color:#262627e4;
}



.flexiconintro{
  display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    
}
.flexiconintro p {
  color: #ffffff;
  font-size: 20px;
}
.icon{
  width: 50px;
}
.projetspresentation{
background-color: rgb(0, 0, 0);
margin-top: 600px;

 }

 .projetspresentation p{
 margin: 0px;
  
   }
 
footer{
  background-color:#353538;
  padding-top: 100px;
}